/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}



.main.div{
    height: 750px;
    border: 1px solid black;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-div{
    height: 400px;
    width: 500px;
    border: 2px solid black;
    border-radius: 10px;
    
}

/* input div */
.input-div {
    height: 64px;
    padding: 8px;

    display: flex;

}

/* Remove the up and down button */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
    font-size: 32px;
    flex-grow: 1;
    text-align: right;
}

/* button div */
.button-div{
    background-color: grey;

    display: flex;
}

/* all button styles*/
.button-div .button{
    height: 50px;
}